<section appScrollReveal class="stats section-darker scroll-reveal">
  <div class="container">
    <div class="stats__grid">
      <div class="stats__item">
        <span class="stats__number">30</span>
        <span class="stats__label">{{ 'stats.years' | translate }}</span>
      </div>
      <div class="stats__item">
        <span class="stats__number">40+</span>
        <span class="stats__label">{{ 'stats.employees' | translate }}</span>
      </div>
      <div class="stats__item">
        <span class="stats__number">40+</span>
        <span class="stats__label">{{ 'stats.vehicles' | translate }}</span>
      </div>
      <div class="stats__item">
        <span class="stats__number">9000+</span>
        <span class="stats__label">{{ 'stats.patients' | translate }}</span>
      </div>
    </div>
  </div>
</section>
