.services {
  padding: 5rem 0;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
}

@media (max-width: 768px) {
  .services__grid {
    grid-template-columns: 1fr;
  }
}
